.page_back {background-color: #f9f9f9}
.line {border: 1px solid #dfdfdf}
.hs {border: 1px solid #dfdfef}
.title {color: #2F353F}
.title:hover {color: #5F656F}
.text {color: #000000}
.light {color: #33d3e2}
.ref {color: #435573; text-decoration: none; word-wrap: break-word; word-break: break-all;}
.orange {color: #E25D33;}
.ref:hover {color: #637593}
.next{
    padding: 15px;
    background-color: transparent;
    border: 1px solid #dfdfdf;
    text-decoration: none;
    width: 200px;
    justify-self: end;
    grid-auto-flow: column;
    display: grid;
    justify-content: space-between;
}
.next:hover{
    border: 1px solid #33d3e2;
    color: #33d3e2;
}
.title_row {margin-left: 10px; margin-right: 10px; justify-content: space-between; text-decoration: none; grid-auto-flow: column; display: grid; margin-top: 10px; overflow: hidden; white-space: nowrap;}
.title_subrow {margin-left: 40px; margin-right: 10px; justify-content: space-between; text-decoration: none; grid-auto-flow: column; display: grid; margin-top: 10px; overflow: hidden; white-space: nowrap;}
.navbar-expand {display: grid; grid-auto-flow: column; justify-content: space-between; width: 100%;}
.nav-item {overflow: hidden;}
.container1{
    max-width: 750px;
    width: 90vw;
    min-height: 0px;
    margin: 10px 0 10px 0;
    display: inline-grid;
    justify-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.cmd{
    background-color: #E7EEF5;
    border-bottom: 1px solid #A2ADB9;
    color: #2F353F;
    padding: 5px 20px 5px 20px;
    margin: 10px 0 10px 0;
}
.img_ful{
    max-width: 750px;
    max-height: 380px;
    width: 90vw;
    height: 45vw;
    margin-top: 10px;
    margin-bottom: 20px;
}
.warning{
    background-color: #FFEBEC;
    border-left: 1px solid #E13238;
    color: #4B1113;
    padding: 5px 20px 5px 20px;
    margin: 10px 0 10px 0;
}
.container{
    justify-content: center;
    justify-self: center;
}
.company_logo{
    max-height: 90px;
    max-width: 65px;
    height: 18vw;
    width: 13vw;
    padding: min(2.5vw, 12.5px) 0 min(2.5vw, 12.5px) 0;
    margin-left: min(calc(10px + 9vw), 50px);
    margin-right: 0;
}
.company_name{
    padding-top: min(6vw, 30px);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: calc(min(2.5vw, 12.5px) + 40px);
    height: 6vw;
    max-height: 90px;
    font-size: min(6vw, 25px);
    white-space: nowrap;
}
.social{
    max-height: 90px;
    max-width: 45px;
    height: 18vw;
    width: 9vw;
    padding: min(4.5vw, 22.5px) 0 min(4.5vw, 22.5px) 0;
    margin-right: min(3vw, 30px);
}
.left_bar{
    height: 100%;
    width: 0;
    position: fixed;
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 2;
}
.side_cross{
    font-size: min(9vw, 45px);
    padding: min(3vw, 10px) 0 min(0vw, 0px) 0;
    text-decoration: none;
    color: #d0d0d0;
}
.side_cross:hover{
    color: #d1efff;
}
.side_open{
    font-size: min(9vw, 30px);
    padding: min(4.5vw, 25px) 0 min(2vw, 10px) 0;
    color: #d0d0d0;
    position: fixed;
    margin-left: 10px;
    cursor:pointer;
    overflow-x: hidden;
    max-width: 55px;
    width: calc(calc(1000px - 100vw) * 1000);
}
.side_bar{
    max-width: 250px;
    width: calc(calc(100vw - 1000px) * 1000);
    overflow: hidden;
    height: 100vh;
}
.w_con{
    margin: 0 0 0 max(0px, calc(calc(100vw - 1000px) * 0.2));
}